@page
@model ClientModel
@{
}

<!-- <style>
    #shape {
        width: 100px;
        height: 100px;
        background-color: red;
        cursor: move;
    }
</style> -->


<style>
  canvas { background-color:black; }
</style>

<h1>Client</h1>



    <div>
        <div>X:</div>
        <div id="X"></div>
    </div>
    <div>
        <div>Y:</div>
        <div id="Y"></div>
    </div>
    <div id="shape"></div>

@section Scripts {
    <script src="/lib/signalr/signalr.js"></script>
    <script src="/lib/quintus/quintus.js"></script>
    <script src="/lib/quintus/quintus_sprites.js"></script>
    <script src="/lib/quintus/quintus_scenes.js"></script>
    <script src="/lib/quintus/quintus_input.js"></script>
    <script src="/lib/quintus/quintus_2d.js"></script>
    <script src="/lib/quintus/quintus_anim.js"></script>
    <script src="/lib/quintus/quintus_touch.js"></script>
    <script src="/lib/quintus/quintus_ui.js"></script>
    <script src="/lib/quintus/quintus_audio.js"></script>
    <script src="/js/game.js"></script>
    <script src="/js/client.js"></script>
}
