@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

MUSE: Multi User Simulation Environment<br/>

<a href=/Client>Play</a></p>
<a href=/Example/Sprite>Sprite Test</a></p>
<a href=/Example/Tag>Tag Test</a></p>
<a href=/Example/Junk>Junk Test</a></p>
